<div class="contents_row">
  <h3><%=@nickname %>さんの投稿一覧</h3>
  <%#カテゴリー Face%>
  <h4 class="items-category_name">Face</h4>
  <ul class="item-lists">
  <% if @post_face[0]!= nil %>
    <% @post_face.each do |item| %>
      <li class='list'>
        <%= link_to item_path(item.id) do %>
          <div class='item-img-content'>
            <%= image_tag item.image, class: "item-img" if item.image.attached? %>
          </div>
          <div class="item-info">
            <div class="item-brand">
              <%= item.brand %>
            </div>
            <div class="item-name">
              <%= item.title %>
            </div>
            <div class="item-category_option">
              <%= item.category_option.name %>
            </div>
            <div class="expiration_date">
            <% if current_user.id == item.user_id %>
                <%if item.category_option_id == 6 %>
                使用開始日：<%=item.start_date%><br>
                使用期限目安：<%=item.start_date + 3.month%><br>
                  <%if (item.start_date + 3.month - @today) > -1%>
                    残日数：<%=(item.start_date + 3.month - @today).to_i %>日
                  <%else%>
                  <div class="expired">
                    <%=(item.start_date + 3.month - @today).abs.to_i %>日過ぎてます！
                  </div>
                  <%end%>
              <%elsif (item.category_option_id == 2) || (item.category_option_id == 5) || (item.category_option_id == 7) || (item.category_option_id == 8) || (item.category_option_id == 9) || (item.category_option_id == 12) %>
                使用開始日：<%=item.start_date%><br>
                使用期限目安：<%=item.start_date + 6.month%><br>
                  <%if (item.start_date + 6.month - @today) > -1%>
                    残日数：<%=(item.start_date + 6.month - @today).to_i %>日
                  <%else%>
                  <div class="expired">
                    <%=(item.start_date + 6.month - @today).abs.to_i %>日過ぎてます！
                  </div>
                  <%end%>
              <%else %><%# (item.category_option_id == 3) || (item.category_option_id == 4) || (item.category_option_id == 10) || (item.category_option_id ==11 )%>
                使用開始日：<%=item.start_date%><br>
                使用期限目安：<%=item.start_date + 1.year %><br>
                <%if (item.start_date + 1.year - @today) > -1%>
                  残日数：<%=(item.start_date + 1.year - @today).to_i %>日
                  <%else%>
                  <div class="expired">
                    <%=(item.start_date + 1.year - @today).abs.to_i %>日過ぎてます！
                  </div>
                <%end%>
              <%end%>
            <%end%>
            </div>
        <% end %>
      </li>
    <% end %>
    <%else%>
      <%= render 'items/no_registration' %>
    <%end%>
  </ul>
  <%#カテゴリー Face%>
  <%#カテゴリー Eye%>
  <h4 class="items-category_name">Eye</h4>
  <ul class="item-lists">
  <% if @post_eye[0]!= nil %>
    <% @post_eye.each do |item| %>
      <li class='list'>
        <%= link_to item_path(item.id) do %>
          <div class='item-img-content'>
            <%= image_tag item.image, class: "item-img" if item.image.attached? %>
          </div>
          <div class="item-info">
            <div class="item-brand">
              <%= item.brand %>
            </div>
            <div class="item-name">
              <%= item.title %>
            </div>
            <div class="item-category_option">
              <%= item.category_option.name %>
            </div>
            <div class="expiration_date">
            <% if current_user.id == item.user_id %>
                <%if (item.category_option_id == 15) || (item.category_option_id == 17) %>
                使用開始日：<%=item.start_date%><br>
                使用期限目安：<%=item.start_date + 3.month%><br>
                  <%if (item.start_date + 3.month - @today) > -1%>
                    残日数：<%=(item.start_date + 3.month - @today).to_i %>日
                  <%else%>
                  <div class="expired">
                    <%=(item.start_date + 3.month - @today).abs.to_i %>日過ぎてます！
                  </div>
                  <%end%>
              <%elsif (item.category_option_id == 13) || (item.category_option_id ==18 ) %>
                使用開始日：<%=item.start_date%><br>
                使用期限目安：<%=item.start_date + 6.month%><br>
                  <%if (item.start_date + 6.month - @today) > -1%>
                    残日数：<%=(item.start_date + 6.month - @today).to_i %>日
                  <%else%>
                  <div class="expired">
                    <%=(item.start_date + 6.month - @today).abs.to_i %>日過ぎてます！
                  </div>
                  <%end%>
              <%else %><%# (item.category_option_id == 3) || (item.category_option_id ==4) || (item.category_option_id ==10) || (11 )%>
                使用開始日：<%=item.start_date%><br>
                使用期限目安：<%=item.start_date + 1.year %><br>
                <%if (item.start_date + 1.year - @today) > -1%>
                  残日数：<%=(item.start_date + 1.year - @today).to_i %>日
                  <%else%>
                  <div class="expired">
                    <%=(item.start_date + 1.year - @today).abs.to_i %>日過ぎてます！
                  </div>
                <%end%>
              <%end%>
            <%end%>
            </div>
        <% end %>
      </li>
    <% end %>
    <%else%>
      <%= render 'items/no_registration' %>
    <%end%>
  </ul>
  <%#カテゴリー eye%>
  <%#カテゴリー lip%>
  <h4 class="items-category_name">Lip</h4>
  <ul class="item-lists">
  <% if @post_lip[0]!= nil %>
    <% @post_lip.each do |item| %>
      <li class='list'>
        <%= link_to item_path(item.id) do %>
          <div class='item-img-content'>
            <%= image_tag item.image, class: "item-img" if item.image.attached? %>
          </div>
          <div class="item-info">
            <div class="item-brand">
              <%= item.brand %>
            </div>
            <div class="item-name">
              <%= item.title %>
            </div>
            <div class="item-category_option">
              <%= item.category_option.name %>
            </div>
            <div class="expiration_date">
            <% if current_user.id == item.user_id %>
                <%if (item.category_option_id == 19) || (item.category_option_id == 20) || (item.category_option_id == 21) || (item.category_option_id == 22) || (item.category_option_id == 24) %>
                  使用開始日：<%=item.start_date%><br>
                  使用期限目安：<%=item.start_date + 6.month%><br>
                  <%if (item.start_date + 6.month - @today) > -1%>
                    残日数：<%=(item.start_date + 6.month - @today).to_i %>日
                  <%else%>
                  <div class="expired">
                    <%=(item.start_date + 6.month - @today).abs.to_i %>日過ぎてます！
                  </div>
                  <%end%>
                <%else%><%#item.category_option_id == 23 %>
                  使用開始日：<%=item.start_date%><br>
                  使用期限目安：<%=item.start_date + 1.year %><br>
                <%if (item.start_date + 1.year - @today) > -1%>
                  残日数：<%=(item.start_date + 1.year - @today).to_i %>日
                  <%else%>
                  <div class="expired">
                    <%=(item.start_date + 1.year - @today).abs.to_i %>日過ぎてます！
                  </div>
                <%end%>
              <%end%>
            <%end%>
            </div>
        <% end %>
      </li>
    <% end %>
    <%else%>
      <%= render 'items/no_registration' %>
    <%end%>
  </ul>
</div>