<div class="item-show">
  <div class="item-box">
    <h2 class="item-name">
      <%= @item.brand %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @item.image, class:"item-box-img" %>
    </div>
    <div class="item-explain-box">
      <span><%= @item.title %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">ユーザー名</th>
          <td class="datail-value"><%= @item.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="datail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー詳細</th>
          <td class="datail-value"><%= @item.category_option.name %></td>
        </tr>
        <tr>
          <th class="detail-item">フリーワード</th>
          <td class="datail-value"><%= @item.content %></td>
        </tr>
        <%if current_user.id == @item.user_id %>
          <tr>
            <th class="detail-item">使用開始日</th>
            <td class="datail-value"><%= @item.start_date %></td>
          </tr>
          <tr>
            <th class="detail-item">使用期限目安</th>
            <td class="datail-value">
            <%#Face%>
            <%if @item.category_id == 2 %> 
              <%if @item.category_option_id == 6 %>
                <%= @item.start_date + 3.month%>
              <%elsif (@item.category_option_id == 2) || (@item.category_option_id ==5) || (@item.category_option_id == 7) || (@item.category_option_id ==8) || (@item.category_option_id == 9) || (@item.category_option_id ==12)%>
                <%= @item.start_date + 6.month%>
              <%else %><%# (@item.category_option_id == 3) || (@item.category_option_id == 4) || (@item.category_option_id ==10) || (@item.category_option_id == 11 )%>
                  <%= item.start_date + 1.year %>
              <%end%>
            <%#Eye%>
            <%elsif @item.category_id == 3 %>
              <%if (@item.category_option_id == 15) || (@item.category_option_id == 17 ) %>
                <%= @item.start_date + 3.month%>
              <%elsif (@item.category_option_id == 13) || (@item.category_option_id == 18 )%>
                <%= @item.start_date + 6.month%>
              <%else%><%# (@item.category_option_id == 14) || (@item.category_option_id == 16) %>
                <%= @item.start_date + 1.year %>
              <%end%>
            <%#Lip%>
            <%elsif @item.category_id == 4 %>
              <%if (@item.category_option_id == 19) || (@item.category_option_id == 20) || (@item.category_option_id == 21) || (@item.category_option_id == 22) || (@item.category_option_id == 24) %>
                <%= @item.start_date + 6.month%>
              <%else%><%#@item.category_option_id == 23 %>
                <%= @item.start_date + 1.year %>
              <%end%>
            <%end%>
            </td>
          </tr>
          <tr>
            <th class="detail-item">残日数</th>
            <td class="datail-value">
            <%#Face%>
            <%if @item.category_id == 2 %> 
              <%if @item.category_option_id == 6 %>
                <%if (@item.start_date + 3.month - @today) > -1 %>
                  <%=(@item.start_date + 3.month - @today).to_i %>日
                <%else%>
                  <div class="expired">
                    <%=(@item.start_date + 3.month - @today).abs.to_i %>日過ぎてます！
                  </div>
                  <%end%>
              <%elsif (@item.category_option_id == 2) || (@item.category_option_id ==5) || (@item.category_option_id == 7) || (@item.category_option_id ==8) || (@item.category_option_id == 9) || (@item.category_option_id ==12) %>
                <%if (@item.start_date + 6.month - @today) > -1 %>
                  <%=(@item.start_date + 6.month - @today).to_i %>日
                <%else%>
                  <div class="expired">
                    <%=(@item.start_date + 6.month - @today).abs.to_i %>日過ぎてます！
                  </div>
                  <%end%>
              <%else %><%# (@item.category_option_id == 3) || (@item.category_option_id == 4) || (@item.category_option_id ==10) || (@item.category_option_id == 11 )%>
                <%if (@item.start_date + 1.year - @today) > -1 %>
                  <%=(@item.start_date + 1.year - @today).to_i %>日
                <%else%>
                  <div class="expired">
                    <%=(@item.start_date + 1.year - @today).abs.to_i %>日過ぎてます！
                  </div>
                  <%end%>
              <%end%>
            <%#Eye%>
            <%elsif @item.category_id == 3 %>
              <%if (@item.category_option_id == 15) || (@item.category_option_id == 17 ) %>
                <%if (@item.start_date + 3.month - @today) > -1 %>
                  <%=(@item.start_date + 3.month - @today).to_i %>日
                <%else%>
                  <div class="expired">
                    <%=(@item.start_date + 3.month - @today).abs.to_i %>日過ぎてます！
                  </div>
                  <%end%>
              <%elsif (@item.category_option_id == 13) || (@item.category_option_id == 18 )%>
                <%if (@item.start_date + 6.month - @today) > -1 %>
                  <%=(@item.start_date + 6.month - @today).to_i %>日
                <%else%>
                  <div class="expired">
                    <%=(@item.start_date + 6.month - @today).abs.to_i %>日過ぎてます！
                  </div>
                  <%end%>
              <%else%><%# (@item.category_option_id == 14) || (@item.category_option_id == 16) %>
                <%if (@item.start_date + 1.year - @today) > -1 %>
                  <%=(@item.start_date + 1.year - @today).to_i %>日
                <%else%>
                  <div class="expired">
                    <%=(@@item.start_date + 1.year - @today).abs.to_i %>日過ぎてます！
                  </div>
                  <%end%>
              <%end%>
            <%#Lip%>
            <%elsif @item.category_id == 4 %>
              <%if (@item.category_option_id == 19) || (@item.category_option_id == 20) || (@item.category_option_id == 21) || (@item.category_option_id == 22) || (@item.category_option_id == 24) %>
                <%if (@item.start_date + 6.month - @today) > -1 %>
                  <%=(@item.start_date + 6.month - @today).to_i %>日
                <%else%>
                  <div class="expired">
                    <%=(@item.start_date + 6.month - @today).abs.to_i %>日過ぎてます！
                  </div>
                  <%end%>
              <%else%><%#@item.category_option_id == 23 %>
                <%if (@item.start_date + 1.year - @today) > -1 %>
                  <%=(@item.start_date + 1.year - @today).to_i %>日
                <%else%>
                  <div class="expired">
                    <%=(@item.start_date + 1.year - @today).abs.to_i %>日過ぎてます！
                  </div>
                  <%end%>
              <%end%>
            <%end%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%#div class="favorite-btn"></div><%>
    <div class="item-edit-destroy">
      <% if user_signed_in?%>
        <% if current_user.id == @item.user_id %>
          <%= link_to "編集", edit_item_path(@item.id), method: :get, class: "item-edit-btn" %>
          <p class="or-text">or</p>
          <%= link_to "削除", item_path(@item.id), method: :delete, class:"item-destroy" %>
        <% end %>
      <% end %>
    </div>

    <%= render 'expiration_date' %>

</div>